/* Andy Bell CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* TERRIBLE GERALD'S TERRIBLE STYLESHEET */

/* FONTS */

@font-face {
  font-family: 'Bobby Jones Soft Outline';
  font-weight: 400;
  src: url('/fonts/bobby_jones_soft_outline-webfont.woff2') format('woff2'),
       url('/fonts/bobby_jones_soft_outline-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bobby Jones Soft Regular';
  font-weight: 400;
  src: url('/fonts/bobby_jones_soft-webfont.woff2') format('woff2'),
       url('/fonts/bobby_jones_soft-webfont.woff') format('woff');
}

/* BASICS */

body {
    background: #FFF;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    color: #000;
}

.container {
    margin: 0 auto;
    padding: 1.5rem 1rem 0;
    max-width: 1440px;
}

.container-full {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

/* CONTENT STYLES */

p {
  margin-bottom: 1.25rem;
  font-size: 1.25em;
}

h1, h3 {
  margin-bottom: 0.4em;
  text-transform: lowercase;
  font-size: 4em;
  font-weight: 600;
  line-height: 1;
  font-family: 'Bobby Jones Soft Regular', 'League Spartan', Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  font-weight: 600;
  font-family: 'Bobby Jones Soft Regular', 'League Spartan', Arial, Helvetica, sans-serif;
}

/* BUTTONS */

.btn {
  margin: 1em 0;
  padding: 0.5em 1.5em;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  font-family: 'Bobby Jones Soft Regular', 'League Spartan', Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .btn {
    margin-inline: auto;
  }
}

.btn-primary {
  background-color: #FFF;
  color: rgb(194, 12, 33);
  transition: all ease-in-out 250ms;
}

.btn-primary:hover, 
.btn-primary:focus {
  background-color: rgb(194, 12, 33);
  color: #FFF;
  rotate: 2deg;
  border: 2px #FFF solid;
}

.btn-secondary {
  background-color: rgb(194, 12, 33);
  color: #FFF;
  font-size: 2em;
  transition: all ease-in-out 250ms;
}

.btn-secondary:hover, 
.btn-secondary:focus {
  background-color: #FFF;
  color: rgb(194, 12, 33);
  rotate: 2deg;
  border: 2px rgb(194, 12, 33) solid;
}

a.contact-trigger {
  padding: 0.5rem 1rem;
}

a.contact-trigger:is(:link, :visited) {
  background-color: rgb(194, 12, 33);
  color: #FFF;
}

a.contact-trigger:is(:hover, :focus, :active) {
  background-color: #FFF;
  color:  rgb(194, 12, 33);
}

/* UTILITIES */

.d-flex {
    display: flex;
}