---
import MasterLayout from "../layouts/MasterLayout.astro";
import EventsList from "../components/vue/events-list.vue";
let storyblokToken = import.meta.env.SECRET_STORYBLOK_KEY;
---
<MasterLayout title="Terrible Gerald's Pizza | Events!">
    <div class="container">
        <h1>Upcoming Events</h1>
    </div>
	<div class="container event-content d-flex">
        <div class="event-content-main">
            <EventsList client:load token={storyblokToken} />
        </div>
        <aside>
            <div class="sidebar-wrapper">
                <img class="<!-- moto-gerald -->guido-gerald" src="/images/guido-gerald.webp" alt="VROOM VROOM!">
                <h4 class="top-line">Your Uncle Sal wants Gerald's for his PRIVATE EVENT and he's trying to pay for it!<br>
                </h4>
                <a href="#" class="contact-trigger btn btn-secondary">Book Us Now Before He Does!</a>
            </div>
        </aside>
    </div>
</MasterLayout>

<style>

    .event-content {
        padding-top: 50px;
        gap: 2.5rem;
    }

    .event-content > div {
        flex: 1;
    }

    .event-item h4 {
        font-size: 2.25rem;
    }

    @media (max-width: 1000px) {

        .event-content {
            flex-direction: column;
            gap: 1rem;
        }

    }

    .event-content aside {
        padding: 1rem 2rem 2rem;
        border-left: 5px rgb(194, 12, 33) solid;
    }

    @media (max-width: 1000px) {

        .event-content aside {
            border-left: none;
        }

        .sidebar-wrapper {
            margin-inline: auto;
            display: grid;
            gap: 2rem;
            align-items: center;
            justify-content: center;
        }

    }

    .event-content aside .btn {
        margin: 1rem 0;
        padding: 1.25rem 2rem;
        text-align: center;
        line-height: 1.2;
    }

    .next-event-img {
        margin: 3rem auto 5rem;
        display: block;
        border: 3px #000 solid;
    }

    .moto-gerald {
        animation: ride 1000ms ease-in-out infinite;
    }

    .guido-gerald {
        animation: ride 1000ms ease-in-out infinite;
    }

    .sidebar-wrapper {
        padding-top: 2rem;
        position: sticky;
        top: 0;
        max-width: 350px;
    }

    .top-line {
        margin-bottom: 1.7rem;
        padding-block: 2rem 0;
        border-top: 5px rgb(194, 12, 33) solid;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.3;
    }

    @keyframes ride {
        0% {
            transform: translateX(-10px);
            transform: translateY(0px);
        }
        50% {
            transform: translateY(15px);
        }
        100% {
            transform: translateY(0px);
        }
    }

</style>