---
import Form from "../components/vue/form.vue";
---
<div id="full-screen-wrap">
    <div>
        <div class="container">
            <Form client:load />
        </div>
    </div>
</div>

<style>

    /* CONTACT FORM COVER STYLES */

    #full-screen-wrap {
        width: 0;
        /* min-height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(194, 12, 33);
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: width 200ms ease-in-out;
        background-image: url(/images/cardboard.jpg);
        background-size: cover;
    }

    @media (max-width: 700px) {

        #full-screen-wrap {
            display: block;
        }

    }
    
</style>


<script>

    const dialog = document.querySelector("dialog");    
	const contactTrigger = document.querySelectorAll('a.contact-trigger');
	const closeTrigger = document.querySelectorAll('button.close-contact-form');

	contactTrigger.forEach((trigger) => {
		trigger.addEventListener('click', () => {
			openContactForm();
		});
	});

	closeTrigger.forEach((trigger) => {
		trigger.addEventListener('click', () => {
			closeContactForm();
		});
	});

    function openContactForm() {
        dialog.showModal();
    }

    function closeContactForm() {
        dialog.close();
    }
</script>