---
import Form from "../components/vue/form.vue";
---
<div id="full-screen-wrap">
    <div>
        <div class="close-contact-form-wrap">
            <button class="close-contact-form">X</button>
        </div>
        <div class="container">
            <Form client:load />
        </div>
    </div>
</div>

<style>

    /* CONTACT FORM COVER STYLES */

    #full-screen-wrap {
        width: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(194, 12, 33);
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: width 200ms ease-in-out;
    }

    .close-contact-form-wrap {
        max-width: 600px;
        width: 100%;
        text-align: right;
    }

    @media (max-width: 700px) {

        .close-contact-form-wrap {
            max-width: 550px;
            width: 90%;
            text-align: right;
        }

    }

    #full-screen-wrap button.close-contact-form {
        font-size: 3rem;
        text-align: right;
        background-color: transparent;
        border: none;
        font-family: 'Bobby Jones Soft Regular', 'League Spartan', Arial, Helvetica, sans-serif;
        cursor: pointer;
        color: #FFF;
    }

    #full-screen-wrap button.close-contact-form:is(:hover, :focus) {
        color: #000;
        rotate: 5deg;
    }
    

</style>


<script>
	
	const contactTrigger = document.querySelectorAll('a.contact-trigger');
	const closeTrigger = document.querySelectorAll('button.close-contact-form');

	contactTrigger.forEach((trigger) => {
		trigger.addEventListener('click', () => {
			openContactForm();
		});
	});

	closeTrigger.forEach((trigger) => {
		trigger.addEventListener('click', () => {
			closeContactForm();
		});
	});

    function openContactForm() {
        document.getElementById("full-screen-wrap").style.width = "100vw";
    }

    function closeContactForm() {
        document.getElementById("full-screen-wrap").style.width = "0%";
    }
</script>