---
import HomepageEvent from "../components/vue/homepage-event.vue";
---

<div class="container">
  <div class="hero-wrapper">
      <div class="flex-columns">
          <div class="gerald-and-pizza">
              <img src="images/gerald-biting-pizza.gif" alt="Nom.">
          </div>
          <div class="event-info-column">
              <h2>Next Event</h2>
              <HomepageEvent client:load />
              <a href="/events" class="btn btn-primary">Upcoming Events</a>
          </div>
      </div>
      <div class="hero-footer">
          <h2>Terrible Gerald's Pizza / Unorthodox Neapolitan</h2>
      </div>
  </div>
</div>

<style>

.container:has(.hero-wrapper) {
  padding-top: 0;
}

.hero-wrapper {
  font-family: 'League Spartan', Arial, Verdana, sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #BFA386;
  background-image: url(/images/cardboard.jpg);
  background-size: cover;
  max-width: 1440px;
  height: 100%;
  overflow: hidden;
}

.hero-wrapper::before {
  content: '';
  width: 100%;
  height: 3em;
  display: block;
  background: #FFF;
  --mask: conic-gradient(from -32.5deg at bottom,#0000,#000 1deg 64deg,#0000 65deg) 50%/19.11px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.hero-wrapper::after {
  content: '';
  width: 100%;
  height: 3em;
  display: block;
  background: #FFF;
  --mask: conic-gradient(from -32.5deg at bottom,#0000,#000 1deg 64deg,#0000 65deg) 50%/19.11px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  rotate: 180deg;
}

@media (max-width: 1450px) {

  .container:has(.hero-wrapper) { 
    padding: 0; /* Removes mobile container padding on mobile */
  }

}

.flex-columns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gerald-and-pizza {
  margin: 0 auto;
  position: relative;
  transform: translateY(-30px);
}

.gerald-and-pizza::before, 
.gerald-and-pizza::after {
  content: '';
  background-image: url(/images/pixel-pizza.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 183px;
  height: 200px;
  display: block;
  position: absolute;
  animation-name: pizza-spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: -1;
}

@media (max-width: 600px) {

  .gerald-and-pizza::before, 
  .gerald-and-pizza::after {
    display: none;
  }

}

.gerald-and-pizza::before {
  top: 5rem;
  right: -20px;
}

.gerald-and-pizza::after {
  bottom: -80px;
  animation-delay: 1s;
}

.gerald-and-pizza img {
  margin-inline: auto;
  max-width: 650px;
  width: 100%;
  animation: gerald-spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.event-info-column {
  padding: 1rem 4rem;
  background-color: rgba(245, 9, 36, 0.5);
  color: #000;
  overflow: hidden;
  font-size: 1.5em;
  max-width: 45rem;
  min-width: 350px;
  flex: 1;
}

@media (max-width: 1000px) {
  .event-info-column {
    margin-bottom: 2rem;
  }

  .event-info-column .btn {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 400px) {
  .event-info-column {
    padding: 1rem;
  }
}

.event-info-column h2 {
  margin: 1.5rem 0 3rem;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 4em;
  line-height: 1;
  font-family: 'Bobby Jones Soft Regular', 'League Spartan', Arial, Helvetica, sans-serif;
}

.event-info-column h3 {
  margin: 0 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  font-family: 'Sanchez', Georgia, 'Times New Roman', Times, serif;
  line-height: 1;
}

.event-info-column p {
  line-height: 1.2;
}

.event-info-column h2::after {
  content: '';
  width:  150%;
  height: 10px;
  rotate: 2deg;
  background: #000;
  display: block;
  border-radius: 100vw;
  transform: translateX(-50px) translateY(20px);
}

.hero-footer {
  padding: 2rem;
  font-family: 'Sanchez', Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(245, 9, 36, 0.5);
  text-transform: uppercase;
  transform: translateY(12px);
}

@media (max-width: 1000px) {
  .hero-footer {
    text-align: center;
  }
}

@keyframes pizza-spin {
  0% {
    rotate: 0deg;
    transform: translateX(0px);
  }
  50% {
    rotate: 15deg;
    transform: translateX(-20px);
  }  
  100% {
    rotate: 0deg;
    transform: translateX(0px);
  }
}

@keyframes gerald-spin {
  0% {
    rotate: 0deg;
    transform: translateX(0px);
  }
  50% {
    rotate: 15deg;
    transform: translateX(-10px) translateY(-10px);
  }  
  100% {
    rotate: 0deg;
    transform: translateX(0px);
  }
}

</style>