<section id="menu">
    <div class="container">
        <h3>Menu.</h3>

        <!-- gbread -->
        <div class="menu-item d-flex">
            <!-- <div class="menu-item-price">
                <p>
                    $15
                </p>
            </div> -->
            <div>
                <h4>gbread.</h4>
                <p class="menu-item-description">
                    GARLIC BREAD W/ FRESH MOZZ, HOUSE MARINARA.
                </p>
            </div>
        </div>

        <!-- margherita pizza -->
        <div class="menu-item d-flex">
            <!-- <div class="menu-item-price">
                <p>
                    $17
                </p>
            </div> -->
            <div>
                <h4>margherita.</h4>
                <p class="menu-item-description">
                    FRESH MOZZ, GRANT ST BASIL, EVOO, HOUSE SAUCE.
                </p>
            </div>
        </div>

        <!-- pepperoni pizza -->
        <div class="menu-item d-flex">
            <!-- <div class="menu-item-price">
                <p>
                    $13
                </p>
            </div> -->
            <div>
                <h4>pepperoni.</h4>
                <p class="menu-item-description">
                    FRESH MOZZ, 'RONIS, HOUSE SAUCE.
                </p>
            </div>
        </div>

        <!-- pepperoni/calabrians pizza -->
        <div class="menu-item d-flex">
            <!-- <div class="menu-item-price">
                <p>
                    $18
                </p>
            </div> -->
            <div>
                <h4>pepperoni &amp; calabrians.</h4>
                <p class="menu-item-description">
                    FRESH MOZZ, 'RONIS, IMPORTED CALABRIAN CHILES, HOUSE SAUCE.
                </p>
            </div>
        </div>

        <!-- crabby gerald pizza -->
        <div class="menu-item d-flex">
            <!-- <div class="menu-item-price">
                <p>
                    $17
                </p>
            </div> -->
            <div>
                <h4>crabby gerald.</h4>
                <p class="menu-item-description">
                    CRAB RANGOON PIE! HOUSE RANGOON MIX, SWEET THAI CHILI SAUCE, FRIED WONTONS, GREEN ONION.
                </p>
            </div>
        </div>
        
        <!-- lemongrab dessert pizza -->
        <div class="menu-item d-flex">
            <!-- <div class="menu-item-price">
                <p>
                    $17
                </p>
            </div> -->
            <div>
                <h4>lemongrab.</h4>
                <p class="menu-item-description">
                    DESSERT PIZZA! LEMON CURD, RICOTTA, CRUSHED PISTACHIO, WHIPPED CREAM, POWDERED SUGAR.
                </p>
            </div>
        </div>
        
    </div>
</section>

<style>

    section#menu {
        margin-bottom: 2rem;
    }

    @media (max-width: 600px) {

        section#menu {
            margin-bottom: 0;
            padding: 0;
        }

    }
    
    section#menu .container {
        padding-top: 0;
    }

    section#menu h3 {
        margin-bottom: 3rem;
    }

    .menu-item {
        margin-bottom: 2rem;
        align-items: center;
    }

    .menu-item-price {
        margin: 1rem;
        padding: 1rem;
        background-image: url(/images/menu-badge.svg);
        background-size: contain;
        background-repeat: no-repeat;
        color: red;
    }

    .menu-item-price p {
        margin-bottom: 0;
        color: #FFF;
        font-size: 2em;
        font-weight: 400;
    }

    .menu-item-description {
        font-size: 1.2em;
        font-family: 'Sanchez', Georgia, 'Times New Roman', Times, serif;
        line-height: 1.2;
    }

</style>