<section id="menu">
    <div class="container d-grid">
        <div id="menu-left-column">
            <h3>Menu</h3>
            <h4 class="red">12” made to order pies, one size, no slices</h4>

            <div class="pizza-grid d-grid">

                <!-- cheese bread pizza -->
                <div class="menu-item-card d-grid">
                    <div class="img-bg-wrap">
                        <img src="/images/pizzas/garlic-cheese-bread.webp" alt="Garlic Cheese">
                    </div>
                    <h4 class="menu-item-title">Garlic Cheese</h4>
                    <p class="menu-item-description">
                        Garlic parm sauce &amp; mozzarella, Served with house marinara
                    </p>
                </div>

                <!-- pep talk pizza -->
                <div class="menu-item-card d-grid">
                    <div class="img-bg-wrap">
                        <img src="/images/pizzas/pep-talk.webp" alt="Pep Talk">
                    </div>
                    <h4 class="menu-item-title">The Pep Talk</h4>
                    <p class="menu-item-description">
                        House red sauce, cup pepperonis, **calabrian peppers, mozzarella
                    </p>
                </div>

                <!-- margherita pizza -->
                <div class="menu-item-card d-grid">
                    <div class="img-bg-wrap">
                        <img src="/images/pizzas/margherita.webp" alt="Margherita">
                    </div>
                    <h4 class="menu-item-title">Margherita</h4>
                    <p class="menu-item-description">
                        Mozzarella, basil, extra virgin olive oil, red sauce
                    </p>
                </div>

                <!-- pepperoni pizza -->
                <div class="menu-item-card d-grid">
                    <div class="img-bg-wrap">
                        <img src="/images/pizzas/pepperoni.webp" alt="Pepperoni">
                    </div>
                    <h4 class="menu-item-title">Pepperoni</h4>
                    <p class="menu-item-description">
                        House red sauce, cup pepperonis, mozzarella
                    </p>
                </div>

                <!-- sal's hot date pizza -->
                <div class="menu-item-card d-grid">
                    <div class="img-bg-wrap">
                        <img src="/images/pizzas/sals-hot-date.webp" alt="Sal's Hot Date">
                    </div>
                    <h4 class="menu-item-title">Sal's Hot Date</h4>
                    <p class="menu-item-description">
                        Soppressata Italian Salami, house red sauce, mozzarella and Mike's Hot Honey.
                    </p>
                </div>

                <!-- crabby gerald pizza -->
                <div class="menu-item-card d-grid">
                    <div class="img-bg-wrap">
                        <img src="/images/pizzas/crabby-gerald.webp" alt="Crabby Gerald">
                    </div>
                    <h4 class="menu-item-title">Crabby Gerald</h4>
                    <p class="menu-item-description">
                        Crab Rangoon mix, sweet Thai chili glaze, crispy wonton, green onion
                    </p>
                </div>

                <!-- buffalo dreamboat pizza -->
                <div class="menu-item-card d-grid">
                    <div class="img-bg-wrap">
                        <img src="/images/pizzas/buffalo-dreamboat.webp" alt="Buffalo Dreamboat">
                    </div>
                    <h4 class="menu-item-title">Buffalo Dreamboat</h4>
                    <p class="menu-item-description">
                        Tender chicken, house chipotle buffalo sauce, ranch drizzle, mozzarella, green onion
                    </p>
                </div>

                <div class="menu-item-card cta d-grid">
                    <h4 class="menu-item-title">Ask about our rotating specials!</h4>
                </div>

            </div>
            
            <p>
                ** Calabrians = imported [red] Italian chiles. mild heat, tangy.
            </p>

        </div>
        <div class="trailer">
            <h4>A slice of life on wheels!</h4>
            <a href="#" class="contact-trigger btn btn-secondary">Book Us Now</a>
            <img src="/images/trailer.jpg" alt="Our Home.">
        </div>
    </div>
</section>

<style>

    section#menu {
        margin-bottom: 2rem;
    }

    @media (max-width: 800px) {

        section#menu {
            margin-bottom: 0;
            padding: 0;
        }

    }

    .container.d-grid {
        padding-top: 0;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    @media (min-width: 800px) {

        .container.d-grid {
            grid-template-columns: 2fr 1fr;
            gap: 40px;
        }
    }

    section#menu h3 {
        margin-bottom: 2rem;
    }

    section#menu h4.red {
        margin-bottom: 2rem;
        color: rgb(194, 12, 33);
    }

    section#menu h4 {
        color: #000;
    }

    .menu-item {
        margin-bottom: 2rem;
        align-items: center;
    }

    .menu-item-price {
        margin: 1rem;
        padding: 1rem;
        background-image: url(/images/menu-badge.svg);
        background-size: contain;
        background-repeat: no-repeat;
        color: red;
    }

    .menu-item-price p {
        margin-block: 0;
        color: #FFF;
        font-size: 2em;
        font-weight: 400;
    }

    .menu-item-description {
        margin-bottom: 0;
        font-size: 1.25em;
        font-family: 'League Spartan', Arial, Helvetica, sans-serif;
        line-height: 1.25;
        padding: 1rem;
        grid-row: 3 / 4;
        border-top: 0;
        border: 3px black solid;
        border-radius: 0 0 5px 5px;
        background-color: var(--bg-white);
    }

    /* MENU GRID */

    .pizza-grid {
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        .menu-item-card {
            margin-top: 6rem;
            grid-template-columns: 1fr;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);

            .img-bg-wrap {
                padding: 1rem;
                border-radius: 5px 5px 0 0;
                background-color: var(--bg-black);
            }

            img {
                margin-inline: auto;
                grid-row: 1 / 2;
                justify-self: center;
                align-self: start;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 7px solid var(--tg-red);
                margin-top: -116px;  
            }

        }

    }

    @media (min-width: 800px) {

        .pizza-grid {
            grid-template-columns: 1fr 1fr; /* Switch to 2 columns on larger screens */
        }

    }

    /* RIGHT COLUMN TRAILER CTA */

    .trailer {
        padding-top: 2rem;
        justify-content: center;
        position: sticky;
        top: 0;
        height: 640px;
    }

    .trailer img {
        max-width: 550px;
        width: 100%;
    }

    @media (max-width: 800px) {

        .trailer {
            margin-inline: auto;
            padding-top: 0;
        }

        .trailer img {
            max-width: 420px;
            width: 100%;
        }
       
    }

</style>