<section id="about">
    <div class="container d-flex">
        <div>
            <h3>Private Events</h3>
            <p>
                
            </p>
        </div>
    </div>
</section>

<style>

    

</style>