---
import '../styles/style.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactPanel from '../components/ContactPanel.astro';
const { title="Terrible Gerald's Pizza / Unorthodox Neapolitan" } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;800&family=Sanchez&display=swap" rel="stylesheet">
		<title>{ title }</title>
	</head>
	<body>
        <Header />
		<slot />
        <Footer />
		<ContactPanel />
	</body>
</html>