---
import '../styles/style.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactPanel from '../components/ContactPanel.astro';
const { title="Terrible Gerald's Pizza / Unorthodox Neapolitan" } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/pizza-favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Terrible Gerald's Pizza is a fresh, approachable take on old world classics. We keep you in your comfort zone with traditional pies, and challenge the norms with crowd favorites like the Crabby Gerald—Omaha's premier Crab Rangoon Pie. Our concept is simple; unorthodox Neapolitan pizza, on wheels.">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=VT323&display=swap" rel="stylesheet">		<title>{ title }</title>
	</head>
	<body>
        <Header />
		<slot />
        <Footer />
		<ContactPanel />
	</body>
</html>